@keyframes lslidec1{
    0%{
        opacity: 1;
        transform: translatey(8%);
    }
    50%{
        opacity: 1;
        transform: scale(1.05);
    }
    100%{
        opacity: 1;
    }
}
.card.animate{
    opacity: 0;
    animation: lslidec2 2s ease-in-out forwards;
}
@keyframes lslidec2{
    0%{
        opacity: 0;
        transform: translatex(10%);
    }
    50%{
        opacity: 1;
        transform: scale(1.05);
    }
    100%{
        opacity: 1;
    }
}
.lc.animate{
    opacity: 0;
    animation: lslidec1 2s ease-in-out forwards;
}
@keyframes hov{
    0%{
        transform: scale(0.1);
    }
    50%{
        opacity: 1;

    }
    100%{
        opacity: 1;
    }
}
.step{
    animation: mov 10s linear infinite;
}
@keyframes mov{
    0%{
        transform: translatex(0%);
        /* transform: scale(4); */
        /* opacity: 1; */
    }
    50%{
        /* transform: translatex(50px); */
    }
    100%{
        transform: translatex(50%);
    }
}
#title h1, .container h3,.lc{
    animation: none;
}