@media(max-width:700px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        width: 100%;
        height: 100%;
        font-size: 100%;
    }
    .nav{
        margin: 0%;
        width: 100%;
        padding: 0%;
        /* position: sticky; */
    }
    .nav ul{
        gap: 1%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0.5%;
    }
    .nav ul li{
        padding: 2%;
        margin: 2px;
        font-size: 80%;
        margin-left: auto;
        border: none;
        box-shadow: none;
        /* margin-top: auto; */
        /* height: 10%; */
    }
    li a span{
        display: none;
    }
    a .icon{
        display:flex;
    }
    h1, h2, h3{
    
        /* font-size: xx-small; */
        /* font-weight: 100; */
    }
    #title h1.animate{
        font-size: 300%;
        margin: 0% 2%;
    }
    .container h3.animate {
        font-size: 140%;
        margin: 0% 3%;
        animation: popUp 1s ease-in-out 2.5s forwards;
        opacity: 0;
        padding: 0px;
    }
    #h3 {
        font-size: 80%;
        /* display: none; */
    }
    
    .container{
        width: 100%;
        height: 100vh;
        /* margin: 100% 0; */
    }
    .imgdiv {
        margin: 0px;
        position: relative;
        width: 100%;
        height: 100vh;
    }
    
    .imgdiv img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .sec{
        width: 100%;

    }
    .sec h3{
        font-size:150%;
    }
    .labcard{
        margin: 0% 15%;
        padding: 2%;
        display: flex;
        /* grid-template-columns: 120px; */
        /* gap: 20px; */
        row-gap: 20%;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;

    }
    .lc{
        width: 95%;
        height: 100vmin;
        margin: 30% 0%;
        /* display: flex; */
        /* justify-content: center;
        align-items: center; */
    }
    .lc h3{
        font-size:100%;
        padding: 2%;
        margin: 0%;
        text-align: center;
        /* color: rgb(177, 1, 193);
        text-shadow: 5px 2px rgb(176, 127, 240); */
        /* text-decoration: underline; */
        /* text-decoration-style:dashed; */
        border-bottom: 2% solid;
        /* color: rgb(122, 12, 239); */
        /* text-decoration-color: aqua; */
    }
    .lc p{
        padding: 3%;
        text-align: center;
        font-weight: 100;
        font-size: 75%;
        color: white;
        height: 20%;
        /* width: 150px; */
    }
    .lc img{
        display: block; 
        /* margin: 0 auto; */
        /* padding: 5%; */
        width: 100%; 
        /* height: 30%; */
        /* height: max-content; */
        object-fit: contain;
        overflow: hidden;
    }
    
    .lc button {
        margin: 0 auto;
        display: block;
        color: rgb(32, 3, 61);
        padding-bottom: 0.5%;
        padding-top: 0.5% ;
        border-radius: 5px;
        background-color: rgb(200, 203, 214);
        font-weight: bold;
    } 
    .card{
        /* max-width: min-content; */
        /* padding: 5px; */
        font-size: 110%;
    }
    
}