@media(max-width:700px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        width: 100%;
        height: 100%;
        font-size: 100%;
    }
    .nav{
        margin: 0%;
        width: 100%;
        padding: 0%;
    }
    .nav ul{
        gap: 1%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0.5%;
    }
    .nav ul li{
        padding: 2%;
        margin: 2px;
        font-size: 80%;
        margin-left: auto;
        border: none;
        box-shadow: none;
    }
    li a span{
        display: none;
    }
    a .icon{
        display:flex;
    }
    #title h1.animate{
        font-size: 300%;
        margin: 0% 2%;
    }
    .container h3.animate {
        font-size: 140%;
        margin: 0% 3%;
        animation: popUp 1s ease-in-out 2.5s forwards;
        opacity: 0;
        padding: 0px;
    }
    #h3 {
        font-size: 80%;
    }
    
    .container{
        width: 100%;
        height: 100vh;
    }
    .imgdiv {
        margin: 0px;
        position: relative;
        width: 100%;
        height: 100vh;
    }
    
    .imgdiv img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .sec{
        width: 100%;

    }
    .sec h3{
        font-size:150%;
    }
    .labcard{
        margin: 0% 15%;
        padding: 2%;
        display: flex;
        row-gap: 20%;
        justify-content: center;
        align-items: center;

    }
    .lc{
        width: 95%;
        height: 100vmin;
        margin: 30% 0%;
    }
    .lc h3{
        font-size:100%;
        padding: 2%;
        margin: 0%;
        text-align: center;
        border-bottom: 2% solid;
    }
    .lc p{
        padding: 3%;
        text-align: center;
        font-weight: 100;
        font-size: 75%;
        color: white;
        height: 20%;
    }
    .lc img{
        display: block; 
        width: 100%; 
        object-fit: contain;
        overflow: hidden;
    }
    
    .lc button {
        margin: 1.4% auto;
        display: block;
        color: rgb(32, 3, 61);
        padding-bottom: 0.5%;
        padding-top: 0.5% ;
        border-radius: 5px;
        background-color: rgb(200, 203, 214);
        font-weight: bold;
    } 
    .card{
        font-size: 110%;
    }
    .step{
        margin: 5% 0.1%;
        width: 45%;
        height: fit-content;
        background-image:linear-gradient(rgb(88, 187, 198),rgb(66, 43, 87));
        height: 40%;
        border: none;
        box-shadow: none;
    }
    .step p{
        font-size: 75%;
    }
    .step h6{
        font-size: 80%;
        color: aqua;
        text-shadow: none;
    }
}